schema/bibliography.rnc

default namespace = ""
namespace tei = "http://www.tei-c.org/ns/1.0"

start =
    element volume {
        attribute id { xsd:NCName },
        element title {
            attribute type { "complete" },
            text
        },
        element title {
            attribute n { text }?,
            attribute type { "series" },
            text
        },
        element title {
            attribute n { text }?,
            attribute type { "sub-series" },
            text?
        },
        element title {
            attribute type { "volume" },
            text?
        },
        element title {
            attribute type { "volume-number" },
            text?
        },
        element editor {
            attribute role { text },
            text
        }+,
        element external-location {
            attribute loc { text },
            xsd:anyURI
        }+,
        element isbn10 { text },
        element isbn13 { text },
        element media {
            attribute type {
                
                ## Printed Volume
                "print"
                | 
                  ## Microfiche Volume
                  "microfiche"
                | 
                  ## Electronic-only Volume
                  "epub"
            }
        },
        element publication-status {
            
            ## Volume is being planned (research has not begun)
            "being-planned-research-not-yet-begun"
            | 
              ## Volume is being researched or prepared
              "being-researched-or-prepared"
            | 
              ## Volume has entered declassification
              "under-declassification"
            | 
              ## Volume is in production
              "in-production"
            | 
              ## Volume has been published online and/or in print
              "published"
        },
        element public-target-publication-year { xsd:gYear? },
        element published-year { xsd:gYear? },
        element published-date { xsd:date? },
        element administration {
            
            ## Legacy value used for Foreign Relations volumes from the pre-Truman Period
            "pre-truman"
            | 
              ## Abraham Lincoln Administration (1861–1865)
              "lincoln"
            | 
              ## Andrew Johnson Administration (1865–1869)
              "johnson-a"
            | 
              ## Ulysses S. Grant Administration (1869–1877)
              "grant"
            | 
              ## Rutherford B. Hayes Administration (1877–1881)
              "hayes"
            | 
              ## James A. Garfield Administration (1881)
              "garfield"
            | 
              ## Chester A. Arthur Administration (1881–1885)
              "arthur"
            | 
              ## Grover Cleveland Administration (1885–1889)
              "cleveland-22"
            | 
              ## Benjamin Harrison Administration (1889–1893)
              "harrison"
            | 
              ## Grover Cleveland Administration (1893–1897)
              "cleveland-24"
            | 
              ## William McKinley Administration (1897–1901)
              "mckinley"
            | 
              ## Theodore Roosevelt Administration (1901–1909)
              "roosevelt-t"
            | 
              ## William H. Taft Administration (1909–1913)
              "taft"
            | 
              ## Woodrow Wilson Administration (1913–1921)
              "wilson"
            | 
              ## Warren G. Harding Administration (1921–1923)
              "harding"
            | 
              ## Calvin Coolidge Administration (1923–1929)
              "coolidge"
            | 
              ## Herbert C. Hoover Administration (1929–1933)
              "hoover"
            | 
              ## Franklin D. Roosevelt Administration (1933–1945)
              "roosevelt-fd"
            | 
              ## Harry S. Truman Administration (1945–1952)
              "truman"
            | 
              ## Dwight D. Eisenhower Administration (1953–1960)
              "eisenhower"
            | 
              ## John F. Kennedy Administration (1961–1963)
              "kennedy"
            | 
              ## Lyndon B. Johnson Administration (1964–1968)
              "johnson"
            | 
              ## Richard M. Nixon and Gerald R. Ford Administrations (1969–1976)
              "nixon-ford"
            | 
              ## Jimmy Carter Administration (1977–1980)
              "carter"
            | 
              ## Ronald Reagan Administration (1981–1988)
              "reagan"
            | 
              ## George H.W. Bush Administration (1989–1992)
              "bush-ghw"
            | 
              ## William J. Clinton Administration (1993–2000)
              "clinton"
        }+,
        element grouping {
            attribute administration {
                list {
                    (
                     ## Legacy value used for Foreign Relations volumes from the pre-Truman Period
                     "pre-truman"
                     | 
                       ## Abraham Lincoln Administration (1861–1865)
                       "lincoln"
                     | 
                       ## Andrew Johnson Administration (1865–1869)
                       "johnson-a"
                     | 
                       ## Ulysses S. Grant Administration (1869–1877)
                       "grant"
                     | 
                       ## Rutherford B. Hayes Administration (1877–1881)
                       "hayes"
                     | 
                       ## James A. Garfield Administration (1881)
                       "garfield"
                     | 
                       ## Chester A. Arthur Administration (1881–1885)
                       "arthur"
                     | 
                       ## Grover Cleveland Administration (1885–1889)
                       "cleveland-22"
                     | 
                       ## Benjamin Harrison Administration (1889–1893)
                       "harrison"
                     | 
                       ## Grover Cleveland Administration (1893–1897)
                       "cleveland-24"
                     | 
                       ## William McKinley Administration (1897–1901)
                       "mckinley"
                     | 
                       ## Theodore Roosevelt Administration (1901–1909)
                       "roosevelt-t"
                     | 
                       ## William H. Taft Administration (1909–1913)
                       "taft"
                     | 
                       ## Woodrow Wilson Administration (1913–1921)
                       "wilson"
                     | 
                       ## Warren G. Harding Administration (1921–1923)
                       "harding"
                     | 
                       ## Calvin Coolidge Administration (1923–1929)
                       "coolidge"
                     | 
                       ## Herbert C. Hoover Administration (1929–1933)
                       "hoover"
                     | 
                       ## Franklin D. Roosevelt Administration (1933–1945)
                       "roosevelt-fd"
                     | 
                       ## Harry S. Truman Administration (1945–1952)
                       "truman"
                     | 
                       ## Dwight D. Eisenhower Administration (1953–1960)
                       "eisenhower"
                     | 
                       ## John F. Kennedy Administration (1961–1963)
                       "kennedy"
                     | 
                       ## Lyndon B. Johnson Administration (1964–1968)
                       "johnson"
                     | 
                       ## Richard M. Nixon and Gerald R. Ford Administrations (1969–1976)
                       "nixon-ford"
                     | 
                       ## Jimmy Carter Administration (1977–1980)
                       "carter"
                     | 
                       ## Ronald Reagan Administration (1981–1988)
                       "reagan"
                     | 
                       ## George H.W. Bush Administration (1989–1992)
                       "bush-ghw"
                     | 
                       ## William J. Clinton Administration (1993–2000)
                       "clinton")+
                }
            },
            xsd:NCName
        }+,
        (element coverage { xsd:gYear }
         | (element coverage {
                attribute type { "from" },
                xsd:gYear
            },
            element coverage {
                attribute type { "to" },
                xsd:gYear
            })),
        element length {
            element span {
                attribute part {
                    
                    ## Front matter (typically numbered with Roman Numerals)
                    "front"
                    | 
                      ## Body (includes index, with page numbering continuous with Arabic Numerals) 
                      "body"
                    | 
                      ## The whole volume (used for electronic-only volumes that were not typeset)
                      "whole"
                },
                attribute unit {
                    
                    ## Pages
                    "pages"
                    | 
                      ## Characters (used to estimate cost of turning old electronic-only volumes into TEI)
                      "characters"
                },
                xsd:integer?
            }+
        },
        element summary {
            element tei:p {
                (text
                 | element tei:hi {
                       attribute rend {
                           
                           ## (Strong, bold) 
                           "strong"
                           | 
                             ## (Italic, oblique) 
                             "italic"
                       },
                       text
                   }
                 | element tei:ref {
                       attribute target { xsd:anyURI },
                       text
                   }
                 | element tei:ref {
                       attribute target { xsd:anyURI },
                       (text
                        | element tei:hi {
                              attribute rend {
                                  
                                  ## (Strong, bold) 
                                  "strong"
                                  | 
                                    ## (Italic, oblique) 
                                    "italic"
                              },
                              text
                          })+
                   })+
            }*
        }?,
        element index-cross-reference-unit { text }?
    }
